<!DOCTYPE html>
<html lang="en">

<head>

    <title>St. John's Roman Catholic Church</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IM Fell English" rel="stylesheet" type="text/css">

	<link href="https://fonts.googleapis.com/css?family=Bilbo Swash Caps" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/JQuery-Snowfall/1.7.4/snowfall.jquery.min.js"></script><!--Snowfall-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <!--Full Calendar-->
    <link href='/js/fullcalendar-3.7.0/fullcalendar.min.css' rel='stylesheet' />
    <link href='/js/fullcalendar-3.7.0/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='/js/fullcalendar-3.7.0/lib/moment.min.js'></script>
    <!--<script src='js/fullcalendar-3.1.0/lib/jquery.min.js'></script>-->
    <script src='/js/fullcalendar-3.7.0/fullcalendar.min.js'></script>
    <script type='text/javascript' src='/js/fullcalendar-3.7.0/gcal.js'></script>

