<% include ./partials/headercalendar%>
<% include ./partials/navbar%>
<% include ./partials/carrousel%>
	
	
	<h1 class="text-center">Calendar</h1>
    <div id='calendar'></div>


    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>St. John’s Roman Catholic Church &copy2017</p>
    </footer>

    <script>
        $(document).ready(function() {
            // Initialize Tooltip
			$('[data-toggle="tooltip"]').tooltip();

        })

		$(document).snowfall();

		$(window).resize(() => {
			$(document).snowfall('clear');
			$(document).snowfall();
		});
    </script>

	<script>
		$(document).ready(function(){
		  // Add smooth scrolling to all links in navbar + footer link
		  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

		  // Make sure this.hash has a value before overriding default behavior
		  if (this.hash !== "") {

			// Prevent default anchor click behavior
			event.preventDefault();

			// Store hash
			var hash = this.hash;

			// Using jQuery's animate() method to add smooth page scroll
			// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
			$('html, body').animate({
			  scrollTop: $(hash).offset().top
			}, 900, function(){

			  // Add hash (#) to URL when done scrolling (default click behavior)
			  window.location.hash = hash;
			  });
			} // End if
		  });
		})
	</script>

  <script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			
			googleCalendarApiKey: 'AIzaSyAvj7mPd40d-8_qv-SAOAY-iWMoK2xzsbE',
	        events: 
		        {
		        	googleCalendarId: 'u02lh74dhcf597rum3kmbeuk5o@group.calendar.google.com'
		            
		        }
		        
	        ,

			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			// defaultDate: new Date().getDate(),
			navLinks: true, // can click day/week names to navigate views
			editable: false,
			eventLimit: true // allow "more" link when too many events

		});

	});

</script>



</body>

</html>
