<% include ./partials/header%>

    <!--CAROUSEL-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="Images/Church.jpg" alt="Church">
				<div class="carousel-caption">
                    <p class="carousel-font1" id="mytexttest">Welcome to </p>
					<p class="carousel-font2">St. John's</p>
					<hr style="width:50%;">
					<p class="carousel-font3">Roman Catholic Church</p>

                </div>
			</div>

            <div class="item">
                <img src="Images/Altar_wide.jpg" alt="Altar">
                <div class="carousel-caption">
                    <p class="carousel-font1">Welcome to </p>
					<p class="carousel-font2">St. John's</p>
					<hr style="width:50%;">
					<p class="carousel-font3">Roman Catholic Church</p>
                </div>
            </div>


            <div class="item">
                <img src="Images/Window.jpg" alt="Windows">
                <div class="carousel-caption">
                    <p class="carousel-font1">Welcome to </p>
					<p class="carousel-font2">St. John's</p>
					<hr style="width:50%;">
					<p class="carousel-font3">Roman Catholic Church</p>
                </div>
            </div>
        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Of Carousel -->

    <div class="container-fluid text-center">
      <h1>Homilies</h1>
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <p>If you do not already have a Portable Document File(PDF) Reader you can download Adobe Reader for free <a href="https://get.adobe.com/reader/"><strong>here.</strong></a>
            <a href="https://get.adobe.com/reader/" target="_blank"><img src="img/adobeReader.jpg" alt="Get Adobe Reader" width="50px" height="50px"></a>
            </p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12" id="pdfLinks">
          <a href="Homilies/H20141130 First Sunday of Advent.pdf" target="_blank">First Sunday of Advent - November 30, 2014.</a><br>
        	<a href="Homilies/H20141123 Solemnity of Christ the King.pdf" target="_blank">Solemnity of Christ the King - November 23, 2014.</a><br>
        	<a href="Homilies/H20141116 33rd Sunday in Ordinary Time.pdf" target="_blank">33rd Sunday in Ordinary Time - November 16, 2014.</a><br>
        	<a href="Homilies/H20141109 Dedication of the Lateran Basilica.pdf" target="_blank">Dedication of the Lateran Basilica - November 9, 2014.</a><br>
        	<a href="Homilies/H20141102 All Souls Day.pdf" target="_blank">All Souls Day - November 2, 2014.</a><br>
        	<a href="Homilies/H20141026 30th Sunday in Ordinary Time.pdf" target="_blank">30th Sunday in Ordinary Time - October 26, 2014.</a><br>
        	<a href="Homilies/H20141019 29th Sunday in Ordinary Time.pdf" target="_blank">29th Sunday in Ordinary Time - October 19, 2014.</a><br>
        	<a href="Homilies/H20141012 28th Sunday in Ordinary Time.pdf" target="_blank">28th Sunday in Ordinary Time - October 12, 2014.</a><br>
        	<a href="Homilies/H20141005 27th Sunday in Ordinary Time.pdf" target="_blank">27th Sunday in Ordinary Time - October 5, 2014.</a><br>
        	<a href="Homilies/H20140928 26th Sunday in Ordinary Time.pdf" target="_blank">26th Sunday in Ordinary Time - September 28, 2014.</a><br>
        </div>

      </div>
    </div>


    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>St. John’s Roman Catholic Church &copy2017</p>
    </footer>

    <script>
        $(document).ready(function() {
            // Initialize Tooltip
			$('[data-toggle="tooltip"]').tooltip();



        })

		$(document).snowfall();

		$(window).resize(() => {
			$(document).snowfall('clear');
			$(document).snowfall();
		});
    </script>

	<script>
		$(document).ready(function(){
		  // Add smooth scrolling to all links in navbar + footer link
		  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

		  // Make sure this.hash has a value before overriding default behavior
		  if (this.hash !== "") {

			// Prevent default anchor click behavior
			event.preventDefault();

			// Store hash
			var hash = this.hash;

			// Using jQuery's animate() method to add smooth page scroll
			// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
			$('html, body').animate({
			  scrollTop: $(hash).offset().top
			}, 900, function(){

			  // Add hash (#) to URL when done scrolling (default click behavior)
			  window.location.hash = hash;
			  });
			} // End if
		  });
		})
	</script>

</body>

</html>
